@import url("https://fonts.googleapis.com/css?family=Inder:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");


@import url(reset.css);


body {
    font-family: "Inter", sans-serif;
}

.box1 {
    font-size: 18px;
    line-height: 1.46;
    color: #7D7D7D;
    max-width: 692px;
    margin: 0 auto;
}

.title,
.sub-title,
.benefits-subtitle {
    font-family: "Poppins", sans-serif;
    line-height: 1.27;
    font-weight: 600;
}

.title {
    margin: 37px 0 3px 0;
    font-size: 30px;
    color: #37393F;
}

h2.sub-title {
    margin: 42px 0 12px 0;
    font-size: 20px;
    color: #6B77E5;
}

.list {
    font-weight: 500;
    line-height: 1.46;
}

.image {
    max-width: 750px;
}

.part2>.text {
    margin: 12px 0 40px 0;
}

.benefits-subtitle {
    margin-bottom: 21px;

    color: #40DDB6;
    font-size: 20px;
}

.sub-content {
    max-height: 263px;
}

.benefits {
    display: inline-block;
    max-width: 332px;
    margin-left: 23px;
}

.benefits>h2 {
    margin: 0 0 15px;
}

.list-text+.list-text {
    margin-top: 30px;
}

.box2 {
    font-weight: 400;
    max-width: 1178px;
    margin: 50px auto;
}

.what h3 {
    color: #D06B00;
    font-size: 28px;
    margin: 20px 0 13px;
    text-transform: uppercase;
}

.what h2 {
    color: #0E333D;
    font-size: 59px;
    font-family: DM Serif Text;
    line-height: 1.46;
    text-transform: capitalize;
}

.what {
    display: inline-block;
    margin-right: 38px;
    max-width: 563px;
    /*  */
}

.what p {
    color: #474747;
    font-size: 20px;
    line-height: 1.8;
    margin-top: 26px;
}

.box2 img+img {
    margin-left: 22px;
}